@media (min-width:320px) and (max-width:575.99px){

    .common-headline h3{
        font-size: 20px;
    }

    .common-headline h2{
        font-size: 25px;
    }

    .navbar .collapsing, .show {
        background: #0C3543;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #fff;
        box-shadow: -3px 6px #22222282;
    }
    .bottonnav {
        font-size: 14px;
        padding: 7px 17px;
    }
    .bottonnav:hover {
        font-size: 14px;
        padding: 7px 17px;
        color: #fff;
        background: #FF9600;
    }
    .navbar-collapse .nav-link {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
    .navbar-toggler{
        padding: 0;
    }
    .navbar-toggler i {
        color: #ffff;
        background: #FF9600;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 18px;
        border: none;
    }   
    .navbar-brand img{
        width: 120px;
    }
    .banner {
        padding-top: 115px;
        padding-bottom: 65px;
    }
    .banner h1 {
        font-size: 25px;
    }

    .banner .bottonnav {
        display: block;
    }
    .banner .bottonnav1 {
        margin-bottom: 10px;
        margin-top: -40px;
    }

    /* ==============================
        Banner Part End
    ================================= */

    /* ==============================
        Sprts Part Start
    ================================= */

    .sports{
        padding-top: 35px;
    }

    .sportsfirstp{
        font-size: 14px;
    }

    .sports .pragrap p{
        font-size: 14px;
        margin: 5px 0;
    }

    .sprots .pragrap i{
        font-size: 14px;
    }
   
    .discover {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px !important;
        margin-bottom: 15px;
        padding: 7px 17px;
    }
    .sports .bottonnav{
        font-size: 14px !important;
        padding: 7px 17px !important;
    }
    .sports .bottonnav:hover{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 15px;
        padding: 7px 17px !important;
    }
    .sports .sportsimg{
        display: none;
    }
 
    
        /* ==============================
        Sprts Part  End
    ================================= */
    
        /* ==============================
        Counter Part  Start
    ================================= */
    .counter {
        margin-top: -75px;
        padding-bottom: 50px;
    }
    .counter .cards {
        margin-bottom: 10px;
    }

        /* ==============================
        Counter Part  End
    ================================= */


        /* ==============================
        Activities Part  Start
    ================================= */
    /* .activities .left p{
        font-size: 14px;
    } */
    /* .common-headline h2::after {
        bottom: -19px;
    } */
    .activities .card {
        background: #0F4152;
        text-align: center;
        margin-bottom: 10px;
    }
    .topcard{
        margin-top: 140px;
    }
    .extreamtitle h2 {
        font-family: 'Arizonia', cursive;
        font-size: 45px;
        color: #FFFFFF;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    .extremetopshape {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        left: 50%;
    }

    .extreamtitle {
        text-align: center;
        padding-bottom: 25px;
        position: relative;
    }
    .extreme .whitelogo {
        margin-top: 6px;
        margin-bottom: 10px;
        width: 50px;
    }

    .extreme .content {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .extreme p {
        font-size: 15px;
        margin-bottom: 36px;
    }
    .extreme .first-child {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .first-child:hover {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .last-child {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .last-child:hover {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .box .overlay {
        padding-left: 23px;
        padding-bottom: 25px;
    }
    .extreme .box {
        top: 45px;
        margin-bottom: 10px;
        overflow:hidden;
    }
    .extreme .box:hover {
        top: 45px;
        margin-bottom: 10px;
    }
    .extreme .box h5::after {
        width: 113%;
        height: 1px;
        background: #717171;
        content: "";
        position: absolute;
        left: -27px;
        top: 85px;
    }
    .choose {
        padding-top: 43px;
        text-align: left;
    }
    .choose .col .box h3 {
        margin-top: 24px;
    }
        /* ==============================
        Activities Part  End
    ================================= */

        /* ==============================
        News Part Start
    ================================= */
    .news {
        padding-top: 50PX;
        padding-bottom: 50px;
    }
    .news .left p {
        max-width: 638px;
        width: 100%;
    }
    .news .card {
        margin-top: 30px;
        padding-bottom: 16px;
    }

        /* ==============================
        News  End
    ================================= */

    .sponser {
        padding: 30px 0;
    }
    .sponser img {
        width: 89%;
    }
    .footer .fullleft{
        display: none;
    }
    .footer{
        margin-top: 45px;
        padding-top: 50px;
    }
   
    .footerlogo{
        width: 120px;
    }
    .footer .secondoffooter .containet1 p {
        font-size: 14px;
        margin-left: -105px;
        margin-top: 25px;
        margin-bottom: 155px;
    }
    .footer .secondoffooter .containet a{
        display: none;
    }
    .footer .secondoffooter .containet h3::after {
        bottom: -20px;
    }
    .footer .secondoffooter .containet h3 {
        margin-top: 140px;
        font-size: 22px;
    }
    .footer .secondoffooter .containet1 h4 {
        font-size: 14px;
        margin-top: -23px;
        margin-left: -108px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 a {
        font-size: 14px;
        margin-top: -23px;
        margin-left: -108px;
    }
    .footer .secondoffooter .containet1 h6 {
        font-size: 14px;
        margin-top: 10px;
        margin-left: -108px;
    }
    .footerlast{
        margin-top: 52px;
        font-size: 10px !important;
        margin-bottom: -61px;
    }
}
@media (min-width:576px) and (max-width:767px){

    .common-headline h3{
        font-size: 20px;
    }

    .common-headline h2{
        font-size: 25px;
    }

    .navbar .collapsing, .show {
        background: #0C3543;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #fff;
        box-shadow: -3px 6px #22222282;
    }
    .bottonnav {
        font-size: 14px;
        padding: 7px 17px;
    }
    .bottonnav:hover {
        font-size: 14px;
        padding: 7px 17px;
        color: #fff;
        background: #FF9600;
    }
    .navbar-collapse .nav-link {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
    .navbar-toggler{
        padding: 0;
    }
    .navbar-toggler i {
        color: #ffff;
        background: #FF9600;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 18px;
        border: none;
    }   
    .navbar-brand img{
        width: 120px;
    }
    .banner {
        padding-top: 115px;
        padding-bottom: 65px;
    }
    .banner h1 {
        font-size: 25px;
    }

 
    .banner .bottonnav1 {
        margin-bottom: 10px;
        margin-top: -40px;
    }

    /* ==============================
        Banner Part End
    ================================= */

    /* ==============================
        Sprts Part Start
    ================================= */

    .sports{
        padding-top: 35px;
    }

    .sportsfirstp{
        font-size: 14px;
    }

    .sports .pragrap p{
        font-size: 14px;
        margin: 5px 0;
    }

    .sprots .pragrap i{
        font-size: 14px;
    }
   
    .discover {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px !important;
        margin-bottom: 15px;
        padding: 7px 17px;
    }
    .sports .bottonnav{
        font-size: 14px !important;
        padding: 7px 17px !important;
    }
    .sports .bottonnav:hover{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 15px;
        padding: 7px 17px !important;
    }
    .sports .sportsimg{
        display: none;
    }
 
    
        /* ==============================
        Sprts Part  End
    ================================= */
    
        /* ==============================
        Counter Part  Start
    ================================= */
    .counter {
        margin-top: -75px;
        padding-bottom: 50px;
    }
    .counter .cards {
        margin-bottom: 10px;
    }

        /* ==============================
        Counter Part  End
    ================================= */


        /* ==============================
        Activities Part  Start
    /* ================================= */
    .activities .left p{
        font-size: 14px;
    }

    .activities .left p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        max-width: 638px;
        width: 100%;
        position: relative;
        top: 26px;
        bottom: 0;
        margin-bottom: 40px;
    } 

    .extreme .box .overlay {
        padding-left: 11px;
        padding-bottom: 4px;
    }
    .extreme .box {
        color: #ffff;
        text-align: left;
    }
    .extreme .box i{
        display: none;
    }

    .extreme .overlay{
        position: relative;
    }

    .overlaycontent {
        position: absolute;
        left: 11px;
        top: 11px;
        padding-top: 60px;
    }
    .extreme .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        /* margin-bottom: 0; */
    }
    .extreme .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .extreme .box h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        margin-bottom: 6px;
        margin-top: 10px;
    }
    .extreme .box h6 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #A0A0A0;
        margin-top: 15px !important;
    }
    .extreme .box h5::after {
        width: 137% !important;
        top: 26px !important;
    }
    .choose .col .box p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #222222;
        width: 275px;
        margin: 0 auto;
    }
    .choose .col .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #222222;
        margin-top: 56px;
        margin-bottom: 16px;
    }

    .common-headline h2::after {
        bottom: -19px;
    }
    .activities .card {
        background: #0F4152;
        text-align: center;
        margin-bottom: 10px;
    }
    .activities .card h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #FFFFFF;
    }
    .topcard{
        margin-top: 140px;
    }
    .extreamtitle h2 {
        font-family: 'Arizonia', cursive;
        font-size: 45px;
        color: #FFFFFF;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    .extremetopshape {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        left: 50%;
    }

    .extreamtitle {
        text-align: center;
        padding-bottom: 25px;
        position: relative;
    }
    .extreme .whitelogo {
        margin-top: 6px;
        margin-bottom: 10px;
        width: 50px;
    }

    .extreme .content {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .extreme p {
        font-size: 15px;
        margin-bottom: 36px;
    }
    .extreme .first-child {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .first-child:hover {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .last-child {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .last-child:hover {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .box .overlay {
        padding-left: 23px;
        padding-bottom: 25px;
    }
    .extreme .box {
        top: 45px;
        margin-bottom: 10px;
        overflow:hidden;
    }
    .extreme .box:hover {
        top: 45px;
        margin-bottom: 10px;
    }
    .extreme .box h5::after {
        width: 113%;
        height: 1px;
        background: #717171;
        content: "";
        position: absolute;
        left: -27px;
        top: 85px;
    }
    .choose {
        padding-top: 43px;
        text-align: left;
    }
    .choose .col .box h3 {
        margin-top: 24px;
    }


    .news .left p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        width: 638px;
        color: #000;
        margin-top: 45px;
    }
    .news .card h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #000000;
        margin-top: 0px;
    }
    .news .card p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        margin-top: 20px;
        margin-bottom: 34px;
        position: relative;
    }
    .news .card a {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #FF9600;
        margin-bottom: 5px;
    }

    .news .card p::after {
        width: 439px;
        height: 1px;
        background: #EEEEEE;
        content: "";
        position: absolute;
        left: -25px;
        bottom: -18px;
    }


        /* ==============================
        Activities Part  End
    ================================= */

        /* ==============================
        News Part Start
    ================================= */
    .news {
        padding-top: 50PX;
        padding-bottom: 50px;
    }
    .news .left p {
        max-width: 638px;
        width: 100%;
    }
    .news .card {
        margin-top: 30px;
        padding-bottom: 16px;
    }

        /* ==============================
        News  End
    ================================= */

    .sponser {
        padding: 30px 0;
    }
    .sponser img {
        width: 89%;
    }
    .footer .fullleft{
        display: none;
    }
    .footer{
        margin-top: 45px;
        padding-top: 50px;
    }
   
    .footerlogo{
        width: 120px;
    }
    .footer .secondoffooter .containet1 p {
        font-size: 14px;
        margin-left: -23px;
        margin-top: -37px;
        margin-bottom: 142px;
    }
    .footer .secondoffooter .containet a{
        display: none;
    }
    .footer .secondoffooter .containet h3::after {
        display: none;
    }
    .footer .secondoffooter .containet h3 {
        margin-top: 67px;
        font-size: 22px;
    }
    .footer .secondoffooter .containet1 h4 {
        font-size: 14px;
        margin-top: -100px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 a {
        font-size: 14px;
        margin-top: -100px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 h6 {
        font-size: 14px;
        margin-top: 8px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    
    .footerlast{
        margin-top: 52px;
        font-size: 10px !important;
        margin-bottom: -61px;
    }
    .footerlast {
        margin-top: 24px;
        color: #ffff;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        text-align: center;
    }
    
}
@media (min-width:767px) and (max-width:991px){

    .common-headline h3{
        font-size: 20px;
    }

    .common-headline h2 {
        font-size: 38px;
    }
    .navbar .collapsing, .show {
        background: #0C3543;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #fff;
        box-shadow: -3px 6px #22222282;
    }
    .bottonnav {
        font-size: 14px;
        padding: 7px 17px;
    }
    .bottonnav:hover {
        font-size: 14px;
        padding: 7px 17px;
        color: #fff;
        background: #FF9600;
    }
    .navbar-collapse .nav-link {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
    .navbar-toggler{
        padding: 0;
    }
    .navbar-toggler i {
        color: #ffff;
        background: #FF9600;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 18px;
        border: none;
    }   
    .navbar-brand img{
        width: 120px;
    }
    .banner {
        padding-top: 115px;
        padding-bottom: 65px;
    }
    .banner h1 {
        font-size: 25px;
    }

 
    .banner .bottonnav1 {
        margin-bottom: 10px;
        margin-top: -40px;
    }

    /* ==============================
        Banner Part End
    ================================= */

    /* ==============================
        Sprts Part Start
    ================================= */

    .sports{
        padding-top: 35px;
    }

    .sportsfirstp{
        font-size: 14px;
    }

    .sports .pragrap p{
        font-size: 14px;
        margin: 5px 0;
    }

    .sprots .pragrap i{
        font-size: 14px;
    }
   
    .discover {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px !important;
        margin-bottom: 15px;
        padding: 7px 17px;
    }
    .sports .bottonnav{
        font-size: 14px !important;
        padding: 7px 17px !important;
    }
    .sports .bottonnav:hover{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 15px;
        padding: 7px 17px !important;
    }
    .sports .sportsimg{
        display: none;
    }
 
    
        /* ==============================
        Sprts Part  End
    ================================= */
    
        /* ==============================
        Counter Part  Start
    ================================= */
    .counter {
        margin-top: -75px;
        padding-bottom: 50px;
    }
    .counter .cards {
        margin-bottom: 10px;
    }

        /* ==============================
        Counter Part  End
    ================================= */


        /* ==============================
        Activities Part  Start
    ================================= */
    .activities .left p{
        font-size: 14px;
    }

    .activities .left p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        max-width: 638px;
        width: 100%;
        position: relative;
        top: 26px;
        bottom: 0;
        margin-bottom: 40px;
    }
    .extreme .box .overlay {
        padding-left: 11px;
        padding-bottom: 4px;
    }
    .extreme .box {
        color: #ffff;
        text-align: left;
    }
    .extreme .box i{
        display: none;
    }

    .extreme .overlay{
        position: relative;
    }

    .overlaycontent {
        position: absolute;
        left: 19px;
        top: 11px;
        padding-top: 126px;
    }
    .extreme .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        /* margin-bottom: 0; */
    }
    .extreme .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .extreme .box h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        margin-bottom: 6px;
        margin-top: 10px;
    }
    .extreme .box h6 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #A0A0A0;
        margin-top: 15px !important;
    }
   
    .extreme .box h5::after {
        width: 169% !important;
        height: 1px;
        background: #717171;
        content: "";
        position: absolute;
        left: -22px;
        top: 26px !important;
    }
    .choose .col .box p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #222222;
        width: 275px;
        margin: 0 auto;
    }
    .choose .col .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #222222;
        margin-top: 56px;
        margin-bottom: 16px;
    }

    .common-headline h2::after {
        bottom: -19px;
    }
    .activities .card {
        background: #0F4152;
        text-align: center;
        margin-bottom: 10px;
    }
    .activities .card h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #FFFFFF;
    }
    .topcard{
        margin-top: 140px;
    }
    .extreamtitle h2 {
        font-family: 'Arizonia', cursive;
        font-size: 45px;
        color: #FFFFFF;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    .extremetopshape {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        left: 50%;
    }

    .extreamtitle {
        text-align: center;
        padding-bottom: 25px;
        position: relative;
    }
    .extreme .whitelogo {
        margin-top: 6px;
        margin-bottom: 10px;
        width: 50px;
    }

    .extreme .content {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .extreme p {
        font-size: 15px;
        margin-bottom: 36px;
    }
    .extreme .first-child {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .first-child:hover {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .last-child {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .last-child:hover {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .box .overlay {
        padding-left: 23px;
        padding-bottom: 25px;
    }
    .extreme .box {
        top: 45px;
        margin-bottom: 10px;
        overflow:hidden;
    }
    .extreme .box:hover {
        top: 45px;
        margin-bottom: 10px;
    }
    .extreme .box h5::after {
        width: 113%;
        height: 1px;
        background: #717171;
        content: "";
        position: absolute;
        left: -27px;
        top: 85px;
    }
    .choose {
        padding-top: 43px;
        text-align: left;
    }
    .choose .col .box h3 {
        margin-top: 24px;
    }


    .news .left p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        width: 638px;
        color: #000;
        margin-top: 45px;
    }
    .news .card h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #000000;
        margin-top: 0px;
    }
    .news .card p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        margin-top: 20px;
        margin-bottom: 34px;
        position: relative;
    }
    .news .card a {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #FF9600;
        margin-bottom: 5px;
    }

    .news .card p::after {
        width: 439px;
        height: 1px;
        background: #EEEEEE;
        content: "";
        position: absolute;
        left: -25px;
        bottom: -18px;
    }


        /* ==============================
        Activities Part  End
    ================================= */

        /* ==============================
        News Part Start
    ================================= */
    .news {
        padding-top: 50PX;
        padding-bottom: 50px;
    }
    .news .left p {
        max-width: 638px;
        width: 100%;
    }
    .news .card {
        margin-top: 30px;
        padding-bottom: 16px;
    }

        /* ==============================
        News  End
    ================================= */

    .sponser {
        padding: 30px 0;
    }
    .sponser img {
        width: 89%;
    }
    .footer .fullleft{
        display: none;
    }
    .footer{
        margin-top: 45px;
        padding-top: 50px;
    }
   
    .footerlogo{
        width: 120px;
    }
    .footer .secondoffooter .containet1 p {
        font-size: 14px;
        margin-left: -23px;
        margin-top: -37px;
        margin-bottom: 142px;
    }
    .footer .secondoffooter .containet a{
        display: none;
    }
    .footer .secondoffooter .containet h3::after {
        display: none;
    }
    .footer .secondoffooter .containet h3 {
        margin-top: 67px;
        font-size: 22px;
    }
    .footer .secondoffooter .containet1 h4 {
        font-size: 14px;
        margin-top: -100px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 a {
        font-size: 14px;
        margin-top: -100px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 h6 {
        font-size: 14px;
        margin-top: 8px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    
    .footerlast{
        margin-top: 52px;
        font-size: 10px !important;
        margin-bottom: -61px;
    }
    .footerlast {
        margin-top: 24px;
        color: #ffff;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        text-align: center;
    }
    
} 
@media (min-width:992px) and (max-width:1199px){

    .common-headline h3{
        font-size: 20px;
    }

    .common-headline h2 {
        font-size: 38px;
    }
    .navbar .collapsing, .show {
        background: #0C3543;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #fff;
        box-shadow: -3px 6px #22222282;
    }
    .bottonnav {
        font-size: 14px;
        padding: 7px 17px;
    }
    .bottonnav:hover {
        font-size: 14px;
        padding: 7px 17px;
        color: #fff;
        background: #FF9600;
    }
    .navbar-collapse .nav-link {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
    .navbar-toggler{
        padding: 0;
    }
    .navbar-toggler i {
        color: #ffff;
        background: #FF9600;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 18px;
        border: none;
    }   
    .navbar-brand img{
        width: 120px;
    }
    .banner {
        padding-top: 115px;
        padding-bottom: 65px;
    }
    .banner h1 {
        font-size: 25px;
    }

 
    .banner .bottonnav1 {
        margin-bottom: 10px;
        margin-top: -40px;
    }

    /* ==============================
        Banner Part End
    ================================= */

    /* ==============================
        Sprts Part Start
    ================================= */

    .sports{
        padding-top: 35px;
    }

    .sportsfirstp{
        font-size: 14px;
    }

    .sports .pragrap p{
        font-size: 14px;
        margin: 5px 0;
    }

    .sprots .pragrap i{
        font-size: 14px;
    }
   
    .discover {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px !important;
        margin-bottom: 15px;
        padding: 7px 17px;
    }
    .sports .bottonnav{
        font-size: 14px !important;
        padding: 7px 17px !important;
    }
    .sports .bottonnav:hover{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 15px;
        padding: 7px 17px !important;
    }
    .sports .sportsimg {
        margin-left: 23px;
    }
    .sports img {
        margin: 0 7px;
        width: 199px;
    }
        /* ==============================
        Sprts Part  End
    ================================= */
    
        /* ==============================
        Counter Part  Start
    ================================= */
    .counter {
        margin-top: -75px;
        padding-bottom: 50px;
    }
    .counter .cards {
        margin-bottom: 10px;
    }

        /* ==============================
        Counter Part  End
    ================================= */


        /* ==============================
        Activities Part  Start
    ================================= */
    .activities .left p{
        font-size: 14px;
    }

    .activities .left p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        max-width: 638px;
        width: 100%;
        position: relative;
        top: 26px;
        bottom: 0;
        margin-bottom: 40px;
    }
    .extreme .box .overlay {
        padding-left: 11px;
        padding-bottom: 4px;
    }
    .extreme .box {
        color: #ffff;
        text-align: left;
    }
    .extreme .box i{
        display: none;
    }

    .extreme .overlay{
        position: relative;
    }

    .overlayofcard {
        position: absolute;
        top: 0;
        left: 78px;
    }
    .extreme .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        /* margin-bottom: 0; */
    }
    .extreme .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .extreme .box h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        margin-bottom: 6px;
        margin-top: 10px;
    }
    .extreme .box h6 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #A0A0A0;
        margin-top: 15px !important;
    }
   
    .extreme .box h5::after {
        width: 169% !important;
        height: 1px;
        background: #717171;
        content: "";
        position: absolute;
        left: -22px;
        top: 26px !important;
    }
    .choose .col .box p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #222222;
        width: 275px;
        margin: 0 auto;
    }
    .choose .col .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #222222;
        margin-top: 56px;
        margin-bottom: 16px;
    }

    .common-headline h2::after {
        bottom: -19px;
    }
    .activities .card {
        background: #0F4152;
        text-align: center;
        margin-bottom: 10px;
    }
    .activities .card h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #FFFFFF;
    }
    .topcard{
        margin-top: 140px;
    }
    .extreamtitle h2 {
        font-family: 'Arizonia', cursive;
        font-size: 90px;
        color: #FFFFFF;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    .extremetopshape {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        left: 50%;
    }

    .extreamtitle {
        text-align: center;
        padding-bottom: 25px;
        position: relative;
    }
    .extreme .whitelogo {
        margin-top: 6px;
        margin-bottom: 10px;
        width: 50px;
    }

    .extreme .content {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .extreme p {
        font-size: 15px;
        margin-bottom: 36px;
    }
    .extreme .first-child {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .first-child:hover {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .last-child {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .last-child:hover {
        display: block;
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .box .overlay {
        padding-left: 23px;
        padding-bottom: 25px;
    }
    .extreme .box {
        top: 45px;
        margin-bottom: 10px;
        overflow:hidden;
    }
    .extreme .box:hover {
        top: 45px;
        margin-bottom: 10px;
    }
    .extreme .box h5::after {
        width: 113%;
        height: 1px;
        background: #717171;
        content: "";
        position: absolute;
        left: -27px;
        top: 85px;
    }
    .choose {
        padding-top: 43px;
        text-align: left;
    }
    .choose .col .box h3 {
        margin-top: 24px;
    }


    .news .left p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        width: 638px;
        color: #000;
        margin-top: 45px;
    }
    .news .card h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #000000;
        margin-top: 0px;
    }
    .news .card p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        margin-top: 20px;
        margin-bottom: 34px;
        position: relative;
    }
    .news .card a {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #FF9600;
        margin-bottom: 5px;
    }

    .news .card p::after {
        width: 439px;
        height: 1px;
        background: #EEEEEE;
        content: "";
        position: absolute;
        left: -25px;
        bottom: -18px;
    }


        /* ==============================
        Activities Part  End
    ================================= */

        /* ==============================
        News Part Start
    ================================= */
    .news {
        padding-top: 50PX;
        padding-bottom: 50px;
    }
    .news .left p {
        max-width: 638px;
        width: 100%;
    }
    .news .card {
        margin-top: 30px;
        padding-bottom: 16px;
    }

        /* ==============================
        News  End
    ================================= */

    .sponser {
        padding: 30px 0;
    }
    .sponser img {
        width: 89%;
    }
  
    .footer{
        margin-top: 45px;
        padding-top: 50px;
    }
    .footer .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
        margin-left: 336px;
    }
    .footerlogo{
        width: 120px;
    }
    .footer .secondoffooter .containet1 p {
        font-size: 14px;
        margin-left: -23px;
        margin-top: -37px;
        margin-bottom: 142px;
    }
    .footer .secondoffooter .containet a{
        display: none;
    }
    .footer .secondoffooter .containet h3::after {
        display: none;
    }
    .footer .secondoffooter .containet h3 {
        margin-top: 67px;
        font-size: 22px;
    }
    .footer .secondoffooter .containet1 h4 {
        font-size: 14px;
        margin-top: -100px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 a {
        font-size: 14px;
        margin-top: -100px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 h6 {
        font-size: 14px;
        margin-top: 8px;
        margin-left: -24px;
        margin-bottom: 6px;
    }
    
    .footerlast{
        margin-top: 52px;
        font-size: 10px !important;
        margin-bottom: -61px;
    }
    .footerlast {
        margin-top: 24px;
        color: #ffff;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        text-align: center;
    }
    
} 
@media (min-width:1200px) and (max-width:1399px){

    /* .common-headline h3{
        font-size: 20px;
    }

    .common-headline h2 {
        font-size: 38px;
    } */
    .navbar .collapsing, .show {
        background: #0C3543;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #fff;
        box-shadow: -3px 6px #22222282;
    }
    /* .bottonnav {
        font-size: 14px;
        padding: 7px 17px;
    }
    .bottonnav:hover {
        font-size: 14px;
        padding: 7px 17px;
        color: #fff;
        background: #FF9600;
    } */
    .navbar-collapse .nav-link {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
    .navbar-toggler{
        padding: 0;
    }
    .navbar-toggler i {
        color: #ffff;
        background: #FF9600;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 18px;
        border: none;
    }   
    .navbar-brand img{
        width: 160px;
    }
    /* .banner {
        padding-top: 115px;
        padding-bottom: 65px;
    } */
    .banner h1 {
        font-size: 51px;
    }
 
    .banner .bottonnav1 {
        margin-bottom: 10px;
        margin-top: -40px;
    }

    /* ==============================
        Banner Part End
    ================================= */

    /* ==============================
        Sprts Part Start
    ================================= */
/* 
    .sports{
        padding-top: 35px;
    } */
/* 
    .sportsfirstp{
        font-size: 14px;
    }

    .sports .pragrap p{
        font-size: 14px;
        margin: 5px 0;
    }

    .sprots .pragrap i{
        font-size: 14px;
    } */
/*    
    .discover {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px !important;
        margin-bottom: 15px;
        padding: 7px 17px;
    } */
    /* .sports .bottonnav{
        font-size: 14px !important;
        padding: 7px 17px !important;
    } */
    .sports .bottonnav:hover{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        background: #FF9600;
        border-radius: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 7px;
        margin-bottom: 15px;
        padding: 7px 17px !important;
    }
   
    .sports img {
        margin: 0 7px;
        width: 256px;
    }
        /* ==============================
        Sprts Part  End
    ================================= */
    
        /* ==============================
        Counter Part  Start
    ================================= */
    .counter {
        margin-top: -75px;
        padding-bottom: 50px;
    }
    .counter .cards {
        margin-bottom: 10px;
    }

        /* ==============================
        Counter Part  End
    ================================= */


        /* ==============================
        Activities Part  Start
    ================================= */
    /* .activities .left p{
        font-size: 14px;
    }

    .activities .left p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        max-width: 638px;
        width: 100%;
        position: relative;
        top: 26px;
        bottom: 0;
        margin-bottom: 40px;
    } */
    .extreme .box .overlay {
        padding-left: 11px;
        padding-bottom: 4px;
    }
    .extreme .box {
        color: #ffff;
        text-align: left;
    }
    .extreme .box i{
        display: none;
    }

    .extreme .overlay{
        position: relative;
    }
    .overlayofcard {
        position: absolute;
        top: 0;
        left: 135px;
    }
    .extreme .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        /* margin-bottom: 0; */
    }
    .extreme .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 7px;
    }
    .extreme .box h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        margin-bottom: 6px;
        margin-top: 10px;
    }
    .extreme .box h6 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #A0A0A0;
        margin-top: 15px !important;
    }
   
    .extreme .box h5::after {
        width: 169% !important;
        height: 1px;
        background: #717171;
        content: "";
        position: absolute;
        left: -22px;
        top: 26px !important;
    }
    .choose .col .box p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #222222;
        width: 275px;
        margin: 0 auto;
    }
    .choose .col .box h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #222222;
        margin-top: 56px;
        margin-bottom: 16px;
    }

    /* .common-headline h2::after {
        bottom: -19px;
    } */
    .activities .card {
        background: #0F4152;
        text-align: center;
        margin-bottom: 10px;
    }
    .activities .card h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #FFFFFF;
    }
    .topcard{
        margin-top: 140px;
    }
    .extreamtitle h2 {
        font-family: 'Arizonia', cursive;
        font-size: 90px;
        color: #FFFFFF;
        text-align: center;
        position: relative;
        z-index: 5;
    }
    .extremetopshape {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        left: 50%;
    }

    .extreamtitle {
        text-align: center;
        padding-bottom: 25px;
        position: relative;
    }
    /* .extreme .whitelogo {
        margin-top: 6px;
        margin-bottom: 10px;
        width: 50px;
    } */

    /* .extreme .content {
        font-size: 18px;
        margin-bottom: 15px;
    } */
    /* .extreme p {
        font-size: 15px;
        margin-bottom: 36px; */
    /* }
    .extreme .first-child {
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .first-child:hover {
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-right: 0;
        font-size: 14px;
    }
    .extreme .last-child {
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    }
    .extreme .last-child:hover {
        margin-bottom: 5px;
        padding: 7px 17px !important;
        margin-left:0;
        font-size: 14px;
    } */
    .extreme .box .overlay {
        padding-left: 23px;
        padding-bottom: 25px;
    }
    .extreme .box {
        top: 45px;
        margin-bottom: 10px;
        overflow:hidden;
    }
    .extreme .box:hover {
        top: 45px;
        margin-bottom: 10px;
    }
    .extreme .box h5::after {
        width: 113%;
        height: 1px;
        background: #717171;
        content: "";
        position: absolute;
        left: -27px;
        top: 85px;
    }
    .choose {
        padding-top: 43px;
        text-align: left;
    }
    .choose .col .box h3 {
        margin-top: 24px;
    }

/* 
    .news .left p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        width: 638px;
        color: #000;
        margin-top: 45px;
    } */
    /* .news .card h5 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #000000;
        margin-top: 0px;
    }
    .news .card p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        margin-top: 20px;
        margin-bottom: 34px;
        position: relative;
    }
    .news .card a {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #FF9600;
        margin-bottom: 5px;
    }

    .news .card p::after {
        width: 439px;
        height: 1px;
        background: #EEEEEE;
        content: "";
        position: absolute;
        left: -25px;
        bottom: -18px;
    } */


        /* ==============================
        Activities Part  End
    ================================= */

        /* ==============================
        News Part Start
    ================================= */
    /* .news {
        padding-top: 50PX;
        padding-bottom: 50px;
    } */
    /* .news .left p {
        max-width: 638px;
        width: 100%;
    } */
    .news .card {
        margin-top: 30px;
        padding-bottom: 16px;
    }

        /* ==============================
        News  End
    ================================= */

    .sponser {
        padding: 30px 0;
    }
    .sponser img {
        width: 89%;
    }
  
    .footer{
        margin-top: 45px;
        padding-top: 50px;
    }
    .footer .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
        margin-left: 390px;
    }
    .footerlogo{
        width: 120px;
    }
    .footer .secondoffooter .containet1 p {
        font-size: 14px;
        margin-left: -13px;
        margin-top: 15px;
        margin-bottom: 142px;
    } 
   
    .footer .secondoffooter .containet h3 {
        margin-top: 67px;
        font-size: 22px;
    }
    .footer .secondoffooter .containet1 h4 {
        font-size: 14px;
        margin-top: -29px;
        margin-left: -13px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 a {
        font-size: 14px;
        margin-top: -100px;
        margin-left: -13px;
        margin-bottom: 6px;
    }
    .footer .secondoffooter .containet1 h6 {
        font-size: 14px;
        margin-top: 8px;
        margin-left: -13px;
        margin-bottom: 6px;
    }
    
    .footerlast{
        margin-top: 52px;
        font-size: 10px !important;
        margin-bottom: -61px;
    }
    .footerlast {
        margin-top: 24px;
        color: #ffff;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        text-align: center;
    }
    .footer .secondoffooter .containet a::after {
        content: "";
        width: 702px;
        height: 1px;
        background-color: #C4C4C4;
        position: absolute;
        left: 0;
        bottom: -54px;
    }
} 

